<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th.block th:replace="fragments :: head"></th.block>
    <title>Error</title>
</head>
<body>
<div class="container text-center">
    <h1 class="alert alert-danger mt-4" role="alert">Page not available</h1>
    <a th:href="@{/}" class="btn btn-primary">Back</a>
</div>
</body>
</html>